# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: SwiftLint
on:
  workflow_dispatch:
  pull_request:
jobs:
  build:
    name: Lint project with SwiftLint
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/realm/swiftlint:5.5-latest

    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: SwiftLint
      run: |
        swiftlint --reporter github-actions-logging --strict
